@inherits LayoutComponentBase
<PageTitle>Project Dashboard</PageTitle>

<div class="layout">
    <NavMenu />
    <div class="content">
        <div class="topbar">
            <LoginDisplay />
        </div>
        <div class="body">
            @Body
        </div>
    </div>
</div>
