@using Microsoft.AspNetCore.Components.Routing

<nav aria-label="Main navigation">
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/projects">Projects</NavLink></li>
        <li><NavLink href="/secrets">Secrets</NavLink></li>
        <li><NavLink href="/plugins">Plugins</NavLink></li>
    </ul>
</nav>
